body {
  margin: 0;
  padding: 0;
}

.marg {
  margin-top: 2rem !important;
}

.showcase::after {
  content: "";
  height: 100vh;
  width: 100%;
  background: url('https://source.unsplash.com/1600x900/?library') no-repeat center/cover;
  display: block;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  transition: all 1000ms;
}

.showcase:hover::after {
  filter: blur(0px);
  -webkit-filter: blur(0px);
}

.showcase:hover .content {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.content {
  position: absolute;
  z-index: 1;
  top: 10%;
  left: 50%;
  margin-top: 105px;
  margin-left: -145px;
  width: 300px;
  height: 350px;
  text-align: center;
  transition: all 1000ms;
}

.showcase .title {
  font-size: 3.2rem;
  margin-top: 1rem;
}

.showcase .text {
  line-height: 1.7;
  margin-top: 1rem;
  font-size: 1.5rem;
}
