* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #fafafa;
  color: #333;
  overflow-x: hidden;
}

.main-heading {
  color: #6c757d;
}

a {
  color:#333;
  text-decoration: none;
}

/* Showcase Section */
#showcase {
  min-height: 60vh;
  background: url('library.jpg') no-repeat 0 -400px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  color: #181818;
}

#showcase h1 {
  font-size: 4rem;
  font-weight: bold;
  color: #fff;
}

#showcase p {
  font-size: 1.5rem;
  margin-bottom: 0;
  color: #fff;
}

/* tour-link */
.tour-link {
  color:#b38600;
}

.tour-link:hover{
  color: #181818;
}

/* Content-section */
.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

/* Left Section */
div.col-md-3{
  height: 100vh;
}

/* list-unstyled */
.list-unstyled li {
  padding: 0.3rem 0.1rem;
}

/* Card section */
.book_info {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  background-color: #f1f1f1;
  height: 200px;
  text-align: center;
  position: relative;
  margin-bottom: 1rem;
}

.book_info h4 {
  padding-top: 3rem;
  font-size: 1.75rem;
}

.book_info div {
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  font-size: 1.5rem;
}

/* Book Detail */
ul.book_detail li {
  padding: 0.6rem 0;
}

/* Stars */
.stars-outer {
  position: relative;
  display: inline-block;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-outer::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ccc;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #f8ce0b;
}

/* Loader */
.loader {
  display: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 40px;
  color: palevioletred;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  transition: opacity 0.3s;
}

.loader::after {
  content: "\2026";
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
  width: 0;
  animation: dots steps(4, end) 2s infinite;
}

@keyframes dots {
  to {
    width: 1em;
  }
}

#output {
  transition: opacity 1s ease-in;
  /* opacity: 0; */
  width: 100%
}

@media (max-width: 768px) {
  div.col-md-3 {
    height: 5vh;
    margin-bottom: 2rem !important;
  }

  .loader {
    margin-top: 5vh;
    top: 100%;
  }
}
