* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #fafafa;
  color: #333333;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  color:#333;
  text-decoration: none;
}

/* Showcase Section */
#showcase {
  min-height: 60vh;
  background: url('library.jpg') no-repeat 0 -400px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  color: #181818;
}

#showcase h1 {
  font-size: 4rem;
  color: #b38600;
  /* margin: 7rem;
  margin-bottom: 0; */
}

#showcase p {
  font-size: 1.5rem;
  margin-bottom: 0;
  color: #fff;
}

/* tour-link */
.tour-link {
  color:#b38600;
}

.tour-link:hover{
  color: #181818;
}

/* Content-section */
.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

/* Main Section */
main.col-lg-10, main.col-md-9 {
  height: 91.4vh;
}

/* Card section */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
