{% extends 'layout.html' %}

{% block title %}
  Books
{% endblock %}

{% block body %}
  <div class="container marg">
    <div class="row">
      {% for book_res in books_res%}
        <div class="col-sm-4 mt-3">
          <div class="card">
            <div class="card-header text-white bg-secondary">
              <h3><strong>Author: </strong>{{book_res.author}}</h3>
            </div>
            <div class="card-body">
              <h5 class="card-title"><strong>Title: </strong>{{book_res.title}}</h5>
              <div class="card-footer text-muted text-center">
                <small><a href="/bookpage/{{book_res.isbn}}" class="btn btn-primary  btn-block">More info</a></small>
              </div>
            </div>
          </div>
        </div>
      {% endfor%}
    </div>
  </div>
{% endblock %}
