{% extends 'layout.html' %} {% block title %} Dashboard {% endblock %} {% block
head %}
<div class="container mt-4">
  <h1 class="display-4 text-center">
    <i class="fas fa-book-open text-primary"></i> Search for a
    <span class="text-primary">Book</span>
  </h1>
  <form id="searchForm" class="mb-4">
    <div class="form-group">
      <input
        type="text"
        name="book"
        id="searchText"
        class="form-control"
        placeholder="Enter ISBN, Title or Author of book"
      />
    </div>
    <input type="submit" value="Search" class="btn btn-primary btn-block" />
  </form>

  <div id="book-list"></div>
</div>
{% endblock %}
