{% extends 'layout.html' %}

{% block title %}
  Home
{% endblock %}

{% block head %}
  <div class="mb-5" id="showcase">
    {% if session.logged_in == Null %}
        <h1 class="title">Welcome To Bookshelf</h1>
        <p class="font-italic mb-3">
          Hello, You can Search in Our database of 5000 books to read, review
          <br> Review Rating and writing comments with rating, Also See other Review.
        </p>
        <div class="ml-1">
          <a href="/register" class="btn btn-primary btn-lg mr-4">Join US</a>
          <a href="/login" class="btn btn-success btn-lg">Sign Up</a>
        </div>

      {% else %}
        <h1 class="font-italic">Find Your New Favourite Book!</h1>
     {% endif%}
  </div>
  <div class="container" id="about">
    <div class="row">
      <div class="col-md-6 pr-5">
        <h3 class="pb-4 mb-4 font-italic border-bottom">
          Deciding what to read next?
        </h3>
        <p>
          You’re in the right place. Tell us what titles or genres you have enjoyed
          in the past, and we’ll give you surprisingly insightful recommendations.
        </p>
      </div>
      <div class="col-md-6 pr-5">
        <h3 class="pb-4 mb-4 font-italic border-bottom">
          What are your friends reading?
        </h3>
        <p>
          Chances are your friends are discussing their favorite
          (and least favorite) books on Goodreads.
          <br><strong>Want to learn more?</<strong> <a href="/dashboard" class="tour-link">Take the tour.</a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
