{% extends 'layout.html' %}

{% block title %}
  Login
{% endblock %}

{% block body %}

  <div class="content-section">
    <form action="/login" method="post">
      <fieldset class="form-group">
        <legend class="border-bottom">Log In</legend>
        <div class="form-group">
          <label for="username"></label>
          <input type="text" name="username" class="form-control" placeholder="Enter username here" autocomplete="off" required>
        </div>
        <div class="form-group">
          <label for="password"></label>
          <input type="password" name="password" class="form-control"  placeholder="Enter your Password here" autocomplete="off"  required>
        </div>
        <button class="btn btn-outline-info" type="submit">Log In</button>
      </fieldset>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Need An Account? <a href="/register" class="ml-2">Sign Up Now</a>
        </small>
    </div>
  </div>
{% endblock %}
