{% extends 'layout.html' %}

{% block title %}
  Search
{% endblock %}

{% block body %}
  <div class="container marg">
    <div class="jumbotron text-center">
      <h1>Search for a book by Title, Author or ISBN.</h1>
      <form id="searchForm" method="post" >
        <input type="text" class="form-control" name="book" id="searchText" placeholder="Search Book Here.....">
        <button class="btn btn-primary mt-3" type="submit">Search</button>
      </form>
    </div>
  </div>
{% endblock %}

<!-- action="{{ url_for('search') }}" -->
